node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo
.git
.github
.gitignore
.editorconfig
.eslintcache
*.log
.env
.env.*
docs
README.md
Dockerfile
.dockerignore
